.resource-slider-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 80vh;
  margin: auto;
}

.resource {
  border-radius: 10px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
